@tailwind base;
@tailwind components;
@tailwind utilities;


html.light {
    --bg-color: white;
    --text-color: black;
  }
  
  html.dark {
    --bg-color: #121212;
    --text-color: white;
  }
  
  html.dim {
    --bg-color: #333;   /* Dim background */
    --text-color: #ccc; /* Dim text color */
  }
  
  body {
    background-color: var(--bg-color);
    color: var(--text-color);
  }