@tailwind base;
@tailwind components;
@tailwind utilities;

html.light {
  --bg-color: white;
  --text-color: black;
}

html.dark {
  --bg-color: #000000;
  --text-color: #E8E8E8;
}

html.dim {
  --bg-color: #282828; /* Dim background */
  --text-color: #E8E8E8; /* Dim text color */
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
